/* Buttons --------------------------------------------------------------------------------------------------*/
button{

    width: 11vw;
    height: 5vw;
    margin: 1vw;
    top: 60vw ;
    font-size: 1.3vw;
    font-weight: lighter;
    border-radius: 1vw;
    outline:none;
    text-align: center;
    
    vertical-align: center;
    transition: all 0.3s ease-in;
    border: none;
    background-color:#3B7DE4;
    color: white;
    }

    .submit{
     margin-top: 5vw;
    }
    /*-------------------------------------------------------------------------------------------*/
    
    
    /*-------------------------------------------------------------------------------------------*/
    button:hover{
    background-color: rgb(22, 22, 22);
    color: rgba(255, 255, 255, 0.92);
    }
    /*-----------------------------------------------------------------------------------------------------------*/
