<div class = "Footer">  
  <!------------------------------------- Logo Image ------------------------------------------------------->    
  <img id = "LogoText" src="../Images/win.png" alt="Raffle logo">
  <!------------------------------------- Contact Information ---------------------------------------------->      
      <div class = "ContactInfo">
          <ul>
              <li class="Contacts">Contact Us:</li>
              <li class="Contacts">Email: a.zhekova@rgu.ac.uk</li>
              <li class="Contacts">Call Us: 0123456789</li>
          </ul>
      </div>
  <!------------------------------------ Social media links ------------------------------------------------>    
  <div class = "SocialLinks">
          
          <div id = "Instagram" class="SocialBox" >
              <img id="InstaIcon" class="Icons" src="../Images/instagram.png" alt="Black shopping bag icon">
          </div>
        <!----------------------------------------------------------------------------------------->        
          <div id = "Twitter" class="SocialBox" >
              <img id="TwitterIcon" class="Icons" src="../Images/twitter.png" alt="Black shopping bag icon">
          </div>
        <!----------------------------------------------------------------------------------------->            
          <div id = "Youtube" class="SocialBox" >
              <img id="YouTubeIcon" class="Icons" src="../Images/youtube.png" alt="Black shopping bag icon">
          </div>
        <!----------------------------------------------------------------------------------------->                
          <div id = "Facebook" class="SocialBox" >
             <img id="FbIcon" class="Icons" src="../Images/facebook.png" alt="Black shopping bag icon">
          </div>
      
      </div>
  <!---------------------------------------------------------------------------------------------------------->    
  </div>
</div>