<!-------------------------- Navigation bar on the top right corner ------------------------------------------->
<!----------------------------- Rectangle used for menu dropdown ---------------------------------------------->
<div class="navBox">
    <button id="Navigation"  type="button">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </button>
  </div>
  
  <!-------------------------------------- The navigation boxes ------------------------------------------------->
  <div class="navBox">
  <!----------------- The Main section appears when the rectangle is clicked --------------------------------->
  <section id="Main">   
    <!-------------------------------------------------------------------->
      <div id = "Account" class="menuBox" >
           <a class="Text">Account</a>
      </div>
    <!-------------------------------------------------------------------->
       <div id = "System" class="menuBox" >
           <a class="Text" href="/inforecycling">Recycling<br>system</a>
       </div>
    
  <!----------------------------------------------------------------------->    
  </div>